{% extends "base.html" %}
{% block content %}
  <div class="bxshadow-top">
    <div class="container" style="padding-top:80px; padding-bottom: 15px;">
      <div class="justify-content-center txtcenter">
        <h3 class="ops-tt txtcenter c-violet">IFIP WG 10.5 Competency mapping</h3>
        <p class="text-base text-gray-700 md:text-lg mt-6">
          {{ competences.intro }}
        </p>
        <br>
      </div>
    </div>

    <div class="container" style="padding-bottom: 40px;">
      <div class="competence-grid">
        {% for t in competences.topics %}
        <div class="competence-card">
          <h4 class="competence-title">{{ t.topic }}</h4>
          <p class="competence-leaders"><i class="fa fa-star" aria-hidden="true"></i>Led by {{ t.leaders | join(", ") }}</p>
          <div class="competence-tags">
            {% for s in t.subtopics %}<span class="competence-tag">{{ s }}</span>{% endfor %}
          </div>
          <p class="competence-description">{{ t.description }}</p>
          <div class="competence-members">
            <span class="competence-members-label"><i class="fa fa-users" aria-hidden="true"></i>Members</span>
            <p>{{ t.members | join(", ") }}</p>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
    <br>
    <br>
    <br>
  </div>
{% endblock %}
