{% extends "base.html" %}
{% block content %}
        <div class="bxshadow-top">
            <div class="container" style="padding-top:80px">
                <div class="justify-content-center txtcenter">
                    <h2 class="ops-tt txtcenter c-violet">FUTURE EVENTS</h2>
                    <br>
                    <br>
                    <div class="row col-md-12 justify-content-center">
                        <ul style="text-align:left; margin-left: 1%;">
                          <li class="prose">
                              <a class="event-link" href="{{ site.upcoming_event.url }}">{{ site.upcoming_event.name }}</a>
                              - {{ site.upcoming_event.location }}, {{ site.upcoming_event.date_text }}
                          </li>
                        </ul>
                    </div>
                </div>
                <br>
                <br>
                <br>
            </div>
        </div>

        <div class="bxshadow-top">
            <div class="container" style="padding-top:80px">
                <div class="justify-content-center txtcenter">
                    <h2 class="ops-tt txtcenter c-violet">AIMS OF WG 10.5</h2>
                    <br>
                    <div class="row">
                        {% for aim in site.aims %}
                        <div class="col-lg-6">
                            <div class="box" style="visibility: visible;">
                            <p class="prose">
                                    {{ aim }}
                                </p>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        <br>
        <br>
        <br>
        </div>

        <div class="bg-gray-ns bxshadow-top bxshadow-bottom">
            <div class="container">
                <h2 class="ops-tt txtcenter  c-green" style="padding-top: 100px;">
                    SCOPE OF WG 10.5
                </h2>
                <p class="ops-t txtcenter">
                    {{ site.scope_text }} For a detail mapping of WG 10.5 competences visit the <a href="competences.html">competences page</a>.
                    <br>
                </p>
            </div>
        </div>
{% endblock %}
