{% extends "base.html" %}
{% macro member_grid(members, variant) %}
                <div class="member-grid">
                    {% for m in members %}
                    <div class="member-card{% if variant %} member-card--{{ variant }}{% endif %}">
                        <p class="member-name">{{ m.title }} {{ m.name }}</p>
                        <p class="member-institution">{{ m.institution }}</p>
                    </div>
                    {% endfor %}
                </div>
{% endmacro %}
{% block content %}
        <div class="bxshadow-top">
            <div class="container" style="padding-top:80px">
                <div class="justify-content-center txtcenter">
                    <h3 class="ops-tt c-violet">ORDINARY MEMBERS</h3>
                    <br>
                </div>
{{ member_grid(members.ordinary) }}
                <br>
                <br>
            </div>
        </div>

        <div class=" bg-gray-ns bxshadow-top">
            <div class="container" style="padding-top:80px">
                <div class="justify-content-center txtcenter">
                    <h3 class="ops-tt c-green">HONORARY MEMBERS</h3>
                    <br>
                </div>
{{ member_grid(members.honorary, "green") }}
                <br>
                <br>
            </div>
        </div>

        <div class="bxshadow-top">
            <div class="container" style="padding-top:80px">
                <div class="justify-content-center txtcenter">
                    <h3 class="ops-tt txtcenter c-violet">PASSED-AWAY MEMBERS</h3>
                    <br>
                </div>
{{ member_grid(members.passed_away, "gray") }}
                <br>
                <br>
            </div>
        </div>
{% endblock %}
