{% extends "base.html" %}
{% macro officer_card(o) %}
                            <div class="officer-card">
                                <img class="officer-photo" src="{{ o.photo }}" alt="{{ o.name }}">
                                <span class="officer-role">{{ o.role }}</span>
                                <p class="officer-name"><i class="fa fa-user" aria-hidden="true"></i>{{ o.name }}</p>
                                <p class="officer-institution"><i class="fa fa-university" aria-hidden="true"></i>{{ o.institution }}</p>
                            </div>
{% endmacro %}
{% block content %}
        <div class="bxshadow-top">
            <div class="container" style="padding-top:80px">
                <div class="justify-content-center txtcenter">
                    <h3 class="ops-tt txtcenter c-violet">OFFICERS</h3>
                    <br>
                </div>
                <div class="officer-grid">
                    {% for o in officers.chair %}{{ officer_card(o) }}{% endfor %}
                    {% for o in officers.vice_chairs %}{{ officer_card(o) }}{% endfor %}
                    {% for o in officers.past_chair %}{{ officer_card(o) }}{% endfor %}
                    {% for o in officers.awards_committee %}{{ officer_card(o) }}{% endfor %}
                </div>
                <br>
                <br>
            </div>
        </div>
{% endblock %}
