{% extends "base.html" %}
{% block content %}
        <div class="bxshadow-top">
            <div class="container" style="padding-top:80px">
                <div class="justify-content-center txtcenter">
                    <h2 class="ops-tt txtcenter c-green">REPORT OF ACTIVITIES</h2>
                </div>
                <!-- The Timeline -->
                <div id="timeline">
                    <div>
                      {% for group in reports_by_year %}
                      <section class="year">
                          <h3>{{ group.year }}</h3>
                          <section>
                              <ul>
                                  <li class="prose">
                                      <div class="report-links">
                                          {% for r in group.entries %}
                                          <a class="report-link" href="{{ r.file }}" target="_blank"><i class="fa {{ r.icon }}" aria-hidden="true"></i>{{ r.label }}</a>
                                          {% endfor %}
                                      </div>
                                  </li>
                              </ul>
                          </section>
                      </section>
                      {% endfor %}
                    </div>
                </div>
            </div>
            <br>
            <br>
            <br>
        </div>
{% endblock %}
